{% extends "base.html" %}
{% block content %}







<!-- <div id="main"> -->
<div class="bloc" id="bloc12"><span id="projecttitle">Sound<span id="qx" style="color: #B279C0">QX</span></span></div>

  <label >
    <form method = "POST" enctype = "multipart/form-data">

<input  type=file name=file style="margin:50px 0px 0px 0px;display: none;" >

<span class="buttons" style="cursor: pointer; position: absolute; top: 50%; left: 42%;border-radius:4vh;  text-decoration:none; border-radius:4vh; background-color:white; font-size: 2vh;text-align:center; width:10vh; display:inline-block; margin: 2vh; padding: 2vh;  " >Add File</span>

</label>

<label >
<button class="buttons" style="cursor: pointer; position: absolute; top: 50%; left: 52%;border-radius:4vh;  text-decoration:none; border-radius:4vh; background-color:white; font-size: 2vh; text-align:center; width:14vh; display:inline-block; margin: 2vh; padding: 2vh;  " type=submit value=Upload>Denoise</button>
<!-- <span style="position: absolute; top: 50%; left: 35%;border-radius:4vh;  text-decoration:none; border-radius:4vh; background-color:white; font-size: 2vh;text-align:center; width:10vh; display:inline-block; margin: 2vh; padding: 2vh;  " >Add File</span> -->
</label>

<form method = "POST" enctype = "multipart/form-data">


	<!-- <div class="bloc" id="bloc1"> -->






			<!-- Play button -->
	<i onMouseOver="this.style.color='#B279C0'"   onMouseOut="this.style.color='#ffff'" style="font-size: 10vh; cursor: pointer; color:white; position:absolute; left:10vh; bottom: 12vh;" class="material-icons md-48">play_circle_filled</i>
	<!-- </div> -->
	<div class="bloc footer" id="bloc2">
		<svg><path d=""></path></svg>
	</div>
<!-- </div> -->
<!-- <i class="material-icons">add_circle_outline</i>-->
<!-- <i class="material-icons md-18">face</i>-->

<script type="text/javascript">
	var wavesurfer = WaveSurfer.create({
    container: '#bloc2',
    waveColor: '#548194',
    progressColor: '#B279C0',
    // barGap:1,
    // barHeight:2
});


wavesurfer.load('{{ url_for('static', filename = wav_file) }}' );

wavesurfer.on('ready', function () {
    wavesurfer.play();
});
</script>


{% endblock content %}
