<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/wavesurfer.js"></script>
<style>
*{margin: 0;padding: 0}

.material-icons.md-48 { font-size: 84px;color:white ; }

#main{
		position:fixed;
		padding:0;
		margin:0;

		top:0;
		left:0;

		width: 100%;
		height: 100%;
	background-color: #0B353B;
}
.bloc{
	position: absolute;
}
#bloc1{
	top: 82.1%;
	right:91%;
}

svg {
	width: 100%;
	height: 300px;
}

path {
	stroke: #B279C0;
	stroke-width: 0.6vh;
	/*stroke-linecap: round;*/
	fill: none;
}

.footer{
	bottom: 0vh;
	left: 25vh;
	width: 100%;
}

</style>
</head>
<body>
<div id="main">
	<div class="bloc" id="bloc1">
		<form method = "POST" enctype = "multipart/form-data">
			<button>
			<input type = "file" name = "file" />
			<i class="material-icons md-48">add_circle</i>
			</button>
		</form>
		<!-- </button> -->
	</div>
	<div class="bloc footer" id="bloc2">
		<svg><path d=""></path></svg>
	</div>
</div>
<!-- <i class="material-icons">add_circle_outline</i>-->
<!-- <i class="material-icons md-18">face</i>-->

<script type="text/javascript">
	var wavesurfer = WaveSurfer.create({
    container: '#bloc2',
    waveColor: '#548194',
    progressColor: '#B279C0',
    // barGap:1,
    // barHeight:2
});


wavesurfer.load('{{ url_for('static', filename = 'wav/no_tree_ent.wav') }}' );

wavesurfer.on('ready', function () {
    wavesurfer.play();
});	
</script>

</body>
</html>