{% extends "base.html" %}
{% block content %}







<!-- <div id="main"> -->
<div class="bloc" id="bloc12"><span id="projecttitle">Sound<span id="qx" style="color: #B279C0">QX</span></span></div>
	<div class="bloc" id="bloc1">
		<form method = "POST" enctype = "multipart/form-data">
			<input type = "file" name = "file" />
      <!-- <label class="btn btn-default btn-sm center-block btn-file">
        <i class="material-icons md-48" aria-hidden="true">add_circle_outline</i>
        <input type="file" style="display: none;">
      </label> -->
			<input type = "submit"/>
			<!-- Sharan's material design button |down -->
			<!-- <i class="material-icons md-48">add_circle</i> -->
		</form>
	</div>
	<div class="bloc footer" id="bloc2">
		<svg><path d=""></path></svg>
	</div>
<!-- </div> -->
<!-- <i class="material-icons">add_circle_outline</i>-->
<!-- <i class="material-icons md-18">face</i>-->

<script type="text/javascript">
	var wavesurfer = WaveSurfer.create({
    container: '#bloc2',
    waveColor: '#548194',
    progressColor: '#B279C0',
    // barGap:1,
    // barHeight:2
});


wavesurfer.load('{{ url_for('static', filename = wav_file) }}' );

wavesurfer.on('ready', function () {
    wavesurfer.play();
});
</script>


{% endblock content %}
